.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
}

.layout-main {
  flex: 1;
  padding-top: 0;
  width: 100%;
}

.layout-main > * {
  width: 100%;
}
